@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .space-x-9 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: 0;
        margin-left: 0;
  }
  
}